#first {
  border: 4px dotted rgba(70, 2, 2, 0.466);
  max-width: 25%;
  height: 130px;
  top: 40px;
  margin: 10px;
}
#navbar {
  margin-top: 25px;
  margin-bottom: 25px;
}
#a {
  color: white;
}

.card {
  margin-bottom: 20px;
}
#H1 {
  color: blueviolet;
  text-shadow: cadetblue;

  text-decoration: darkblue;
  position: absolute;
  top: 220px;
  margin: 15px;
}
#card {
  margin: 25px;
}
#clear {
  float: right;
}
#home {
  float: right;
}

#border {
  border: 4px solid black;
  padding: 10px;
}
